body {
  font-family: sans-serif;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  margin: 0 auto;
  padding: 10px 10px;
}

.title {
  font-size: 35px;
  text-align: center;
}

article {
  text-align: center;
}

img {
  align-self: center;
}

.switch {
  margin: 0.9375rem;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  /* Add transition property */
}

.inner-switch {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #555;
  border-radius: 1.25rem;
  width: 3.125rem;
  text-align: center;
  font-size: 1rem;
  padding: 0.1875rem;
  margin-left: 0.3125rem;
  transition: 0.3s ease-in-out;
}

.dark,
.dark * {
  background-color: #222;
  transition: 0.3s ease-in-out;
  color: #e6e6e6;
  border-color: #e6e6e6;
}




/* ----------- */

.panel {
  background-color: white;
  border-left: 3px solid #333;
  border-right: 3px solid #333;
  border-bottom: 3px solid #333;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
}

button.accordion {
  width: 100%;
  background-color: whitesmoke;
  border: 1px solid #333;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s linear;
  margin: 8px;
}


button.accordion:hover,
button.accordion.is-open {
  background-color: #ddd;
}



/* --------------- */


.container-forCopy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3vw;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    text-align: center;
  }
}

input {
  margin: 1em;
  display: inline-flex;
  width: 200px;
  background: none;
  padding: 1rem;
  border: 1px solid #222;
  outline: none;
  border-radius: 10px;

}

button {
  display: inline-flex;
  background: #222;
  width: 100px;
  justify-content: center;
  color: #f7f7f7;
  padding: 1rem;
  border: 0;
  border-radius: 10px;
  font-weight: 500;
  transition: 2s;
  cursor: pointer;
}

textarea {
  margin: 1em;
  display: inline-flex;
  width: 300px;
  height: 100px;
  background: none;
  padding: 1rem;
  border: 1px solid #222;
  outline: none;
  border-radius: 10px;
}

.success {
  background: #0d8b79;
  transition: 0.3s;
}

.failed {
  background: #bd0909;
  transition: 0.3s;
}